/*General*/
body, textarea {
    margin: 0;
    padding: 0;
    font-family: "arial", Arial, Helvetica, sans-serif;
}

h1, h2, h3 {
    color: #333;
}

p {
    color: #70747a;
}


/*navbar*/

.navbar-container {
    width: 100%;
    height: 80px;
    background-color: #232a31;
    padding: 0 2em;
    position: relative;
    box-sizing: border-box;  /*para os elementos nao passa dos limites das bordas*/

}
.logo {
    width: 50px;
    margin-top: 15px;    
}

nav {
    position: relative;  /*position relative, pq os elementos dentro da navbar tem que ter a nav como referencia*/
 }

.navbar-items {
    list-style: none;
    position: absolute;
    display: inline-block;
    height: 80px;
    line-height: 80px;
    margin: 0;
    right: 0;
    
}

 .navbar-items li {
    display: inline-block;
    text-transform: uppercase;
    margin-left: 25px;
} .navbar-items li a {
    color: aliceblue;
    text-decoration: none;
    transition: .5s;
}
 .navbar-items li a:hover{
    color:#ccc;
}
.default-btn {
    padding: 15px 20px;
    background-color: #2cc76a;
    border-radius: 10px;
    color: wheat;
}
.default-btn:hover{
    background-color: green;
}
/*main banner*/

.main-banner {
    background-image: url(./img/mainbanner.png);
    background-size: cover;
    background-position: center;
    padding: 10em 0;
    position: relative;
    
}
.main-banner h1, .main-banner p {
    color: aliceblue;
    text-align: center;
    font-weight: bold;
}
.main-banner h1 {
    font-size: 54px;
}
.main-banner p {
    font-size: 32px;
}